.ion-img{
    // border-radius: 30px;
    // position: absolute;
    // top: auto;
    // left: auto;

    position:absolute;
    height:200px;
    width:200px;
    top: 40px;
    left : 40px;
    z-index: 1;
}