ion-img{
    // border-radius: 30px;
    // position: absolute;
    // top: auto;
    // left: auto;
    // height:200px;
    // width:200px;
    // top: 40px;
    width: 70%;
    height: 70%;
    margin: auto;
    // left : 40px;
    z-index: 1;
    // position:absolute;
}

