    <div style="position:relative" (click)="itemClicked()">
        <ion-img  style="z-index: -1;" src="../../../../assets/images/tile.svg"></ion-img>
        <div style="position:absolute; top:0; left:0;">
        <ion-img style="z-index: 1;" src="{{this.tileInput?.image}}" *ngIf= "this.tileInput?.farmeable != null"></ion-img>
        <p *ngIf="this.tileInput?.farmeable != null">{{this.tileInput?.create_date}}</p>
        <p *ngIf="this.tileInput?.canRecolect">Se puede recoger</p>
        </div>
        </div> 