*{
    font-family: Fredoka;
}

.main-container{
    background-color: #B6E7B4;
}

.square {
    width: 70%;
    margin: 1%;
}

.wrapper {
    display: grid;
    height: 100%;
    width: 70%;
    margin: auto;
    align-items: center;
    justify-items: center;
}

