
  <!-- <ion-img style="height:55vh; margin:auto; z-index: -1;" src="/assets/images/store/tendero.png"></ion-img> -->
<div >

  

    <ion-segment value="farmeables">
      <ion-segment-button value="farmeables">
        <ion-label>Farmeables</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tiles">
        <ion-label>Tiles</ion-label>
      </ion-segment-button>
      <ion-segment-button value="farms">
        <ion-label>Farms</ion-label>
      </ion-segment-button>
    </ion-segment>
    
  <div *ngIf="storeSelected == 'farmStore' " style="background-color: rgb(230, 230, 230) !important;" class="wrapper">
    <form [formGroup]="form_farmeable"  (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()" class="square">
      <app-farmeable-selectable formControlName="farmeable"></app-farmeable-selectable>
      <ion-item>
        <ion-label>Cantidad:</ion-label>
        <ion-input type="number" min="0" placeholder="0" formControlName="amount"></ion-input>
      </ion-item>
      <ion-button  [disabled]="!form_farmeable.valid" type="submit" >Pay</ion-button>
    </form>
  </div>
  <div class="wrapper">
    <ion-img src="/assets/images/store/tendero.png" style="margin-top: 3%;"></ion-img>
  </div>
</div>


