
<div class="container" *ngIf="farm != null"  class="wrapper" >

  <ion-item class="square">
    <ion-grid>
      <ion-row>
        <ion-col>
          <h1>{{ "generic.money"| translate}}  {{getMoney() | async}}</h1> 
        </ion-col>
  
        <ion-col>
          <h1 style="text-align: right;">{{"pages.farm"|translate}}: {{farmName}}</h1>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <ion-grid  fixed="true" class="square">
    <ion-row>
    </ion-row>
    <ion-row>
      <ion-col id="mensajes" style="background-color: #B6E7B4;" sizeLg="3" sizeMd="3" sizeSm="3" sizeXs="4" *ngFor="let item of getTilesByFarm(farm.id)">
        <app-tile [tileInput]="item"></app-tile>
      </ion-col>
    </ion-row>

    <ion-row></ion-row>
  </ion-grid>

  <!--Creación de nueva granja-->
  <!-- <div>
    <ion-input placeholder="Escribe el nombre de tu granja" [(ngModel)]="newFarmName"></ion-input>
    <ion-button *ngIf="newFarmName!= ''" (click)="createFarm()">Crea una nueva granja</ion-button>
    
    </div> -->

</div>

<!--Creación de nueva granja-->
<div *ngIf="farm == null" class="wrapper">
<ion-card >
  <ion-card-header>
    <ion-card-title>{{"farm.welcome"|translate}}</ion-card-title>
    <ion-card-subtitle>{{"farm.start_your_adventure"|translate}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
      <ion-input placeholder="{{'store.choose_name'|translate}}" [(ngModel)]="newFarmName"></ion-input>
      <ion-button [disabled]="newFarmName == ''" (click)="createFarm()">{{"farm.create_farm"|translate}}</ion-button>
    </ion-card-content>
  </ion-card>
</div>
  