
<ion-accordion-group [multiple]="true" #accordion>

  <!-- Selección item -->
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <p *ngIf="itemSelected != undefined">{{itemSelected.name}} : {{itemSelected.purchase_value}} {{"store.coins" | translate}}</p>
        <p *ngIf="itemSelected == undefined">{{"store.select_your_farmeable" | translate}}</p>
      </ion-item>
      <div class="ion-padding" slot="content" >
        <p *ngFor="let i of getFarmeables()" (click)="selectItem(i, accordion)"> {{i.name}} : {{i.purchase_value}} {{"store.coins" | translate}}</p>
      </div>
    </ion-accordion>
  
</ion-accordion-group>